.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.png
.json
.html
.svg
.js
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# ====== Build folders ======
/build/
/target/
/out/

# ====== Serenity Reports ======
/target/site/
/target/site/serenity/
/build/reports/
/build/serenity/

# ====== Screenshots ======
*.png
*.jpg
*.jpeg

# ====== Report files ======
*.html
*.svg
*.json

# ====== Logs ======
*.log
